# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home6/dseducation/public_html"
PassengerBaseURI "/"
PassengerNodejs "/home6/dseducation/nodevenv/public_html/20/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Direct all requests to Passenger Node.js (Express index.js handles API & React fallback)
DirectoryIndex index.js